/*--------hero Sections+Navbars---------*/
.navbar {
  animation: slide-down 0.7s ease-out;
}
.slide-down {
  animation: slide-downn 0.7s ease-out;
}
.slide-right {
  animation: slide-right 0.7s ease-out;
}
.slide-left {
  animation: slide-left 0.7s ease-out;
}
.slide-up {
  animation: slide-up 0.7s ease-out;
}

/*---------------KeyFrames----------------*/

@keyframes slide-downn {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*-------------------JAVA SCRIPT------------------ */
/*--------reveal---------*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease-out;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/*------Slide-from-Left--------*/
.slideLeft {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}
.slideLeft.active {
  transform: translateX(0);
  opacity: 1;
}
/*------Slide-from-Right--------*/
.slideRight {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}
.slideRight.active {
  transform: translateX(0);
  opacity: 1;
}
/* -------------------------- */
@media screen and (max-width: 601px){
.reveal{
  transform: translateX(-150px);
}

}