header {
  height: 100vh;
}
/* Start of navbar */

/* End of navbar */
.hero {
  padding-top: 6rem;
  height: 80vh;
  display: flex;
  align-items: flex-start;
}
.hero__background {
  width: 55%;
}
.hero__content {
  width: 40%;
  margin: 14rem 10rem;
  display: inline-block;
}
.hero__heading--main {
  letter-spacing: 5px;
  font-size: 5rem;
  margin-bottom: 3.5rem;
  text-align: center;
}
.hero__heading--sub {
  letter-spacing: 3px;
  text-align: center;
  font-size: 3.5rem;
}
.pageTwo {
  display: flex;
  flex-wrap:wrap ;
  justify-content:center;
  padding: 4rem 0;
}
.pageTwo__heading {
  text-align: center;
  font-size: 3rem;
}
.pageTwo__card {
  padding: 2rem;
  margin-top: 4rem;
  transform:translateX(-50%) ;
  width: 70vw;
  border-radius: 14px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.4) 0%,
    rgba(45, 252, 253, 0.2) 60%
  );
}
.pageTwo__items {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 1px;
}
/*-------------footer-------------*/
body{
  position: relative;
  padding-bottom: 4rem;
}
footer {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
}
/*=============== Media =============== */
@media screen and (max-width: 601px){
  header{
    height: 45vh;
  }
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .hero__background{
    display: none;
  }
  .hero__content{
    width: fit-content;
    margin: 0;
  }
  .pageTwo__card{
    margin-top: 2rem;
    width: 90vw;
  }
  .pageTwo__card ul{
  width: 100%;
  height: 100%;
  }
  .hero__heading--main{
    font-size: 2.8rem;
    letter-spacing: 3px;
  }
  .hero__heading--sub{
    font-size: 2rem;
    letter-spacing: 4px;
  }
  .pageTwo__heading {
    font-size: 2rem;
  }
  .pageTwo__items:first-child{
    margin: 0;
  }
  .pageTwo__items{
    width: 100%;
    height: 45%;
    line-height: 20px;
    font-size: 1.4rem;
  }
}